header {
    z-index: 40;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* min-width: 640px; */
    background-color: #1a1a1b;
    z-index: 100;
    color: rgb(175, 175, 175);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
    min-height: 25px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #343536;
    transition: 0.2s;
    user-select: none;
    font-weight: 600;
}

.header-link:hover {
    color: #565758;
    border: 1px solid #565758;
    transition: 0.2s;
    cursor: pointer;
}

.before {
    visibility: visible;
    transition: 0.1s;
}

.before1 {
    transform: none;
    top: 0;
    transition: 0.2s;
}

.before2 {
    transform: none;
    bottom: 0;
    transition: 0.2s;
}

.after {
    visibility: hidden;
    transition: 0.1s;
}

.after1 {
    transform: rotate(45deg);
    top: 5.5px;
    transition: 0.2s;
}

.after2 {
    transform: rotate(-45deg);
    bottom: 5.5px;
    transition: 0.2s;
}

.ml {
    display: block;
    position: relative;
    width: 15px;
    height: 2.5px;
    background-color: #b2b4b6;
    margin-bottom: 3px;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
    min-width: 50px;
    height: 55px;
    user-select: none;
}

.btn:hover {
    transition: 0.3s;
    background-color: #545557;
    cursor: pointer;
}

.right-menu {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.menu {
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 55px;
    left: 0px;
    background-color: #1a1a1b;
    height: 100%;
    min-width: 200px;
    left: 0px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.menu-contents {
    display: block;
    width: 100%;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 40px;
    user-select: none;
    color: #b2b4b6;
    border-bottom: 1px solid #6f7273;
}

.menu-content:hover {
    background-color: #464849;
    font-weight: 900;
    cursor: pointer;
}

.hidden {
    left: -200px;
    transition: 0.3s;
    box-shadow: none;
}

app-search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}