.block {
  background-color: #1a1a1b;
  border: 1px solid #343536;
  border-radius: 15px;
  color: rgb(200, 200, 200);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.something {
  transition: 0.3s;
  color: black;
  background-color: rgb(150, 150, 150);
}

.something:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: rgb(210, 210, 210);
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 600;
}

.day {
  border: none;
  border-bottom: 1px solid rgb(175, 175, 175);
  border-left: 1px solid rgb(175, 175, 175);
  border-right: 1px solid rgb(175, 175, 175);
  min-width: 150px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nothing,
.something {
  border: 1px solid rgb(175, 175, 175);
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left,
.x {
  border: none;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 13px;
  min-width: 50px;
  min-height: 50px;
  top: 5px;
  float: right;
  user-select: none;
  border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
}

.x {
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.time {
  font-size: 12px;
  font-weight: 600;
}

.i {
  font-weight: 600;
}

#line {
  width: 150px;
  height: 3px;
  position: relative;
  z-index: 10;
}

.end {
  border-right: none;
  border-top-right-radius: 15px;
}

#n06,
#n106,
#n206,
#n306,
#n406,
#n506,
#n606,
#n706,
#n806,
#n906,
#n1006,
#n1106,
#n1206 {
  border-right: none;
}

.ia {
  color: rgb(57, 70, 74);
  text-decoration: underline;
}

.object {
  font-size: small;
}

#schedule-mobile {
  display: none;
}

@media screen and (max-width: 1256px) {
  #schedule-mobile {
    display: revert;
  }
  #schedule-main {
    display: none;
  }
}
