html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Calibri Light;
    background-color: #030303;
}

app-first-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

app-initial {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}