.block {
    background-color: #1a1a1b;
    border: 1px solid #343536;
    border-radius: 15px;
    color: rgb(200, 200, 200);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.name {
    color: #0079d3;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 500px;
}