main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Calibri;
  padding: 15%;
}

.input {
  background-color: #1a1a1b;
  border: 1px solid #343536;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  border-radius: 15px;
  padding: 15px;
  color: blanchedalmond;
  
}

.form-group {
  margin: 15px 35px 15px 35px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #1a1a1b inset !important;
  -webkit-text-fill-color: aliceblue !important;
}

.form-control {
  border: none;
  background-color: #1a1a1b;
  border-bottom: 1px solid rgb(120, 120, 120);
  color: silver;
  transition: 0.3s;
}

label {
  margin-bottom: 15px;
  margin-right: 15px;
}

.p {
  margin-right: 20px;
}

.alert {
  background-color: rgb(239, 95, 98);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  color: black;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.invalid-feedback {
  color: red;
  font-size: 12px;
}

button{
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(245,245,245);
  border: 1px solid rgb(220,220,220);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.button:hover {
  background-color: rgb(210,210,210);
  transition: 0.3s;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:active {
    background-color: rgb(170,170,170);
    border: 1px solid rgb(200,200,200);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}