<app-header [name]="u.first_name"></app-header>

<main *ngIf="!loading">
    <h2>Information about User</h2>
    <table>
        <tr class="row">
            <td>
                <label>ID Student</label>
            </td>
            <td>
                <input class="input" required [value]="u.id" disabled placeholder="ID" maxlength="64"/>
            </td>
        </tr>
        <tr class="row">
            <td>
                <label>First Name</label>
            </td>
            <td>
                <input class="input" type="text" placeholder="First Name" required [(ngModel)]="u.first_name"/>
            </td>
        </tr>
        <tr class="row">
            <td>
                <label>Last Name</label>
            </td>
            <td>
                <input class="input" type="text" placeholder="Last Name" required [(ngModel)]="u.last_name"/>
            </td>
        </tr>
        <tr class="row">
            <td>
                <label>E-Mail</label>
            </td>
            <td>
                <input class="input" type="text" placeholder="email@example.com" required [(ngModel)]="u.email"/>
            </td>
        </tr>
        <tr class="row">
            <td>
                <label>Login</label>
            </td>
            <td>
                <input class="input" type="text" required [(ngModel)]="u.username" placeholder="Login" maxlength="64"/>
            </td>
        </tr>
        <tr class="row">
            <td>
                <label>Old Password</label>
            </td>
            <td>
                <input id="old" class="input" type="password" placeholder="Password" required maxlength="64"/>
            </td>
        </tr>
        <tr class="row">
            <td>
                <label>New Password</label>
            </td>
            <td>
                <input id="new1" class="input" type="password" placeholder="New Password" required maxlength="64"/>
            </td>
        </tr>
        <tr class="row">
            <td>
                <label>Confirm Password</label>
            </td>
            <td>
                <input id="new2" class="input" type="password" placeholder="New Password" required maxlength="64"/>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input id="save" type="button" required class="button" (click)="save()" value="Save" />
            </td>
        </tr>
    </table>
    <div *ngIf="error" class="alert">{{error}}</div>
</main>

<div *ngIf="loading" class="loading">
    <img src="../../assets/images/loading.gif" width="100px"/>
</div>