main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 15px;
    background-color: rgb(245,245,245);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);

}

.alert {
    background-color: rgb(239, 95, 98);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
    font-size: 14px;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

table {
    padding: 20px;
    user-select: none;
}

.button {
    border: 1px solid rgb(220,220,220);
    font-size: 14px;
    background-color: rgb(245,245,245);
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.button:hover {
    background-color: rgb(210,210,210);
    transition: 0.3s;
    cursor: pointer;
}

::placeholder {
    font-size: 12px;
    font-weight: 100;
}

.button:focus {
  outline: none;
}

.button:active {
    background-color: rgb(170,170,170);
    border: 1px solid rgb(200,200,200);
}

.input {
    border: none;
    background-color: rgb(245,245,245);
    border-bottom: 1px solid rgb(180,180,180);
    transition: 0.2s;
}

.input:active {
    background-color: rgb(210,210,210);
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}