.block {
    background-color: #1a1a1b;
    color: rgb(200, 200, 200);
    border: 1px solid #343536;
    border-radius: 10px;
}

.news {
    display: flex;
    flex-direction: column;
}

.new {
    border-bottom: 1px solid rgb(150,150,150);
}

.new:hover {
    color: rgb(100, 100, 100);
    cursor: pointer;
}