html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("assets/images/back.jpg");
}

app-first-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("assets/images/back.jpg");
}

app-initial {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    background: url("assets/images/back.jpg");
}

app-information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: url("assets/images/back.jpg");
}

app-welcome {
    width: 100%;
    height: 100%;
    background: url("assets/images/back.jpg");
}

app-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

app-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

app-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}